#main{
  position: fixed;
  margin-left: 50%;
  left: -160px;
  width: 320px;
  margin-right: auto;
  top: 25%;
  padding: 25px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 35px;
  border-style: solid;
  border-color: white;
  box-shadow: 0px 0px 20px white;

}
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}



.mainCenter{
   text-align: center;
}
.mainRight{
   text-align: right;
}

#resultSet {
  border-color: white;
  border-width: 1px;
  border-style: solid;
  border-collapse: collapse;
  padding:10px;
  text-align: center;
}

#menuButton{
  margin: 4px;
  width: 150px;
  height: 50px;
  background-color: white;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  transition-duration: 0.4s;
  font-size: 18px;
}
#menuButton:hover{
  background-color: black;
  color: white;
}

body{
  color: #000 !important;
  background:-webkit-linear-gradient(top,#64B5F6 10%,white 90%);
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
